{% extends "template.html" %}
{% block content %}
	
	<!-- Create buttons --> 
	<div id="view_selection" class="btn-group"> 
	<a href="#" id="btn1" class="btn">Change Graph</a> 
	</div>
	
	<script type="text/javascript">
		
		// Create Global Variable
		var dataset;
					var path;

		// Load csv file
		d3.csv("{{ static_url('data/MultiColumn.csv') }}", function(data) {

			dataset = data;
			
			// Convert from string to numeric
			dataset.forEach(function(d) {
				d.CustomerCount = +d.CustomerCount;
			});

			// Call function
			Graph(dataset);
			
		});

		// Create function
		function Graph(input) {
		
		// Declare Variables
		var margin = {top: 60, right: 60, bottom: 60, left:120},
		w = 600 - margin.left - margin.right,
		h = 400 - margin.top - margin.bottom;
		
		// Color Styling
		var color = d3.scale.ordinal()
					  .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56"]);
		
		//Create X Scale
		var xScale = d3.scale.ordinal()
								 .domain(input.map(function (d){ return d.State;}))
								 .rangeRoundBands([0, w], 0.05);
		
		//Create Y Scale
		var yScale = d3.scale.linear()
					   .domain([0,d3.max(input, function(d) { return d.CustomerCount; })])
					   .range([h, 0]);
	
		//Create X Axis	
		var xAxis = d3.svg.axis()
					  .scale(xScale)
					  .orient("bottom");
								   
		//Create Y Axis
		var yAxis = d3.svg.axis()
					  .scale(yScale)
					  .orient('left');
		
		//Create SVG element
		var svg = d3.select("body")
					.append("svg")
					.attr("width", w + margin.left + margin.right)
					.attr("height", h + margin.top + margin.bottom)
					.append('g')
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
					
		//Draw X axis	
		svg.append("g")
		   .attr("class", "axis x")
		   .attr("transform", "translate(0," + h + ")")
		   .call(xAxis);
		   
		//Draw title 
		svg.append("text")
		.attr("x", w / 2 )
        .attr("y",  yScale(d3.max(input, function(d) { return d.CustomerCount; })) - 20 )
        .style("text-anchor", "middle")
        .text("Title of Graph");
		   
		//Create X axis label   
		svg.append("text")
		.attr("x", w / 2 )
        .attr("y",  yScale(0) + 40 )
        .style("text-anchor", "middle")
        .text("State");
					
		//Create Y axis
		svg.append("g")
		   .attr("class", "axis y")
		   .call(yAxis);
		   
		//Create Y axis label
		svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", xScale(0) - 80 )
        .attr("x",0 - (h / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("Revenue");
					
		//Add rectangles
		svg.selectAll(".bar")
		   .data(input)
		   .enter()
		   .append("rect")
		   .attr("class", "bar")
           .style("fill", function(d,i) { return color(i) })
		   .attr("x", function(d) { return xScale(d.State); })
		   .attr("y", function(d) { return yScale(d.CustomerCount) })
		   .attr("width", xScale.rangeBand()) //returns rangeRoundBands width
		   .attr("height", function(d) { return h - yScale(d.CustomerCount) });
		   
		    // Add Legend
		    var legend = svg.append("g")
			                .attr("class", "legend")
						    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
			
			legend.selectAll('rect')
				  .data(input)
				  .enter()
				  .append('rect')
				  .attr("x", d3.max(xScale.range()) + xScale.rangeBand() + 40 )
				  .attr("y", function(d, i){ return i *  25;})
				  .attr("width", 18)
				  .attr("height", 18)
                  .style("fill", function(d,i) { return color(i) });
					 
					 
			legend.selectAll('text')
				  .data(input)
				  .enter()
				  .append('text')
				  .attr("x", d3.max(xScale.range()) + xScale.rangeBand() + 40 )
				  .attr("y", function(d, i){ return (i *  25) + 8;})
			      .attr("dy", ".35em")
			      .style("text-anchor", "end")
			      .text(function(d) { return d.State; });

		 		  		
				
		selectDIV = d3.select("#btn1");
		selectDIV.on('click', function() {
		
		
		dataset = [{CustomerCount: Math.floor(Math.random()*250),State: "FL"},
{CustomerCount: 25,State: "GA"},{CustomerCount: 10,State: "NY"},{CustomerCount: 200,State: "TX"}
]

				//Update scales
				    color.range(["red", "blue", "green", "black", "brown", "yellow"])
					xScale.domain(dataset.map(function (d){ return d.State;}))
					yScale.domain([0,d3.max(dataset, function(d) { return d.CustomerCount; })])
					
					
				//Select rectangles
				var bars = svg.selectAll(".bar")
							  .data(dataset, function(d) { return d.State; });
				  		

		   		//Enter rectangles
				bars.enter()
				    .append("rect")
				    .style("fill", function(d,i) { return color(i) })
				    .attr("x", function(d) { return xScale(d.State); })
				    .attr("y", function(d) { return yScale(d.CustomerCount) })
				    .attr("width", xScale.rangeBand()) //returns rangeRoundBands width
				    .attr("height", function(d) { return h - yScale(d.CustomerCount) });								  
				
		
				//Update rectangles
				bars.transition()
				    .duration(1000)
				    .style("fill", function(d,i) { return color(i) })
				    .attr("x", function(d) { return xScale(d.State); })
				    .attr("y", function(d) { return yScale(d.CustomerCount) })
				    .attr("width", xScale.rangeBand()) //returns rangeRoundBands width
				    .attr("height", function(d) { return h - yScale(d.CustomerCount) });
		   
		   
				//Exit rectangles   	
				bars.exit()
				    .transition()
				    .duration(500)
				    .attr("x", -w)
				    .remove();
		
	/////////////////////////////////////////////////////

	
		   		    //Update X axis
					svg.select(".axis.x")
				    	.transition()
				    	.duration(1000)
						.call(xAxis);

					//Update Y axis
					svg.select(".axis.y")
				    	.transition()
				    	.duration(1000)
						.call(yAxis);
						
///////////////////////////////////////////////////////////

				//Enter legend text and rect
			legend.selectAll('text')
				  .data(dataset, function(d) { return d.State; })
				  .enter()
				  .append('text')
				  .attr("x", d3.max(xScale.range()) + xScale.rangeBand() + 40 )
				  .attr("y", function(d, i){ return (i *  25) + 8;})
			      .attr("dy", ".35em")
			      .style("text-anchor", "end")
			      .text(function(d) { return d.State; });

				  
			legend.selectAll('rect')
				  .data(dataset, function(d) { return d.State; })
				  .enter()
				  .append('rect')
				  .attr("x", d3.max(xScale.range()) + xScale.rangeBand() + 40 )
				  .attr("y", function(d, i){ return i *  25;})
				  .attr("width", 18)
				  .attr("height", 18)
                  .style("fill", function(d,i) { return color(i) });
			


	
				//Update legend text and rect
			legend.selectAll('text')
				  .data(dataset, function(d) { return d.State; })
				  .attr("x", d3.max(xScale.range()) + xScale.rangeBand() + 40 )
				  .attr("y", function(d, i){ return (i *  25) + 8;})
			      .attr("dy", ".35em")
			      .style("text-anchor", "end")
			      .text(function(d) { return d.State; });
				  
	
			legend.selectAll('rect')
				  .data(dataset, function(d) { return d.State; })
				  .attr("x", d3.max(xScale.range()) + xScale.rangeBand() + 40 )
				  .attr("y", function(d, i){ return i *  25;})
				  .attr("width", 18)
				  .attr("height", 18)
                  .style("fill", function(d,i) { return color(i) });
					
				   

				//Exit legend text and rect
			legend.selectAll('text').data(dataset).exit().remove();
			legend.selectAll('rect').data(dataset).exit().remove();
				

	
		
		/*
		
					if ( path ) {
		// Add data to variable
                input2 = [{CustomerCount: 25,State: "NE"},
{CustomerCount: 25,State: "FL"},{CustomerCount: 10,State: "TX"},{CustomerCount: 200,State: "ALL"}]
				path = null;
			} else {
			input2 = input;
			input2.shift();
				path = 1;
			}
		




		
							//Update all rects
					svg.selectAll("rect")
					   .data(input2)
					     .attr("y", function(d) { return yScale(d.CustomerCount) })
		   .attr("height", function(d) { return h - yScale(d.CustomerCount) });
		   
		   //Exit…
					svg.exit()
						.transition()
						.duration(500)
						.attr("x", -xScale.rangeBand())
						.remove();
					   
	
					   
					   */
	
/*
			if ( path ) {
				path.remove();
				// Remove dots
				path = null;
			} else {
			
				path = d3.select("g.y.axis");
			}
			
			*/
			
			
		});	 	  
 
  
			
				  
				  
			  

		   

		}; // end Graph function
		
		
	

		
    </script>
	
{% end block %}

	

