{% extends "template.html" %}
{% block content %}
	

<!-- A div anchor that can be identified by id -->
<div id="piechart" class="dc-chart">
    <!-- Title or anything you want to add above the chart -->
    <strong>Pie Chart</strong>
    <!--
        This will create a reset button when ever the user selects a filter.
		Clicking on the reset button will remove all filters.
     -->
    <a class="reset" href="javascript:PieChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
	<div class="clearfix"></div>
    <!--
        dc.js will also automatically inject applied current filter value into
        any html element with css class set to "filter"
    -->
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
	<br>
	</br>
</div>


<script type="text/javascript">

		// Create Global Variables
		var dataset;
		var PieChart = dc.pieChart("#piechart");

		// Load csv file
		d3.csv("{{ static_url('data/data.csv') }}", function(data) {
		
			dataset = data;

			// Call function
			Graph(dataset);
			
		});
		

// Create function
function Graph(data) {
		
   
    // Feed it through crossfilter   
	var ndx = crossfilter(data);
	console.log(data);
	
	//group it
	var all = ndx.groupAll();
	
	//define a dimension
	//Here we will group by type
	dim = ndx.dimension(function(d) {return d.type});

	//Here we group by type and sum on column legs
	g = dim.group().reduceSum(function(d){return d.legs;});

	//Lets create a pie chart
	PieChart.dimension(dim)
			.radius(90)
			.innerRadius(45)
			.dimension(dim)
			.group(g)
			.title(function(d){ return d.data.key +": "+d.value;})
			.renderTitle(true);			
			

	dc.renderAll();

}; // end graph function			
	
		
    </script>
	
{% end block %}

	

