{% extends "template.html" %}
{% block content %}
	

<!-- A div anchor that can be identified by id -->
<div id="linechart" class="dc-chart">
    <!-- Title or anything you want to add above the chart -->
    <strong>Line Chart</strong>
    <!--
        This will create a reset button when ever the user selects a filter.
		Clicking on the reset button will remove all filters.
     -->
    <a class="reset" href="javascript:LineChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
	<div class="clearfix"></div>
    <!--
        dc.js will also automatically inject applied current filter value into
        any html element with css class set to "filter"
    -->
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
	<br>
	</br>
</div>


<script type="text/javascript">

		// Create Global Variables
		var dataset;
		var LineChart = dc.lineChart("#linechart");

		// Load csv file
		d3.csv("{{ static_url('data/data.csv') }}", function(data) {
		
			dataset = data;

			// Call function
			Graph(dataset);
			
		});
		

// Create function
function Graph(data) {
		
   
    // Feed it through crossfilter   
	var ndx = crossfilter(data);
	console.log(data);
	
	//group it
	var all = ndx.groupAll();
	
	//define a dimension
	//Here we will group by hp
	dim = ndx.dimension(function(d) {return d.hp});

	//Here we group by hp and sum on column legs
	g = dim.group().reduceSum(function(d){return d.legs;});

	//Lets create a line chart
	LineChart.dimension(dim)
			 .group(g)
			 .width(800)
			 .height(200)
			 .x(d3.scale.linear().domain([0,15]).range([0,15]))
			 .renderHorizontalGridLines(true);

	dc.renderAll();

}; // end graph function			
	
		
    </script>
	
{% end block %}

	

