{% extends "template.html" %}
{% block content %}
	

<!-- A div anchor that can be identified by id -->
<div id="rowchart" class="dc-chart">
    <!-- Title or anything you want to add above the chart -->
    <strong>Row Chart</strong>
    <!--
        This will create a reset button when ever the user selects a filter.
		Clicking on the reset button will remove all filters.
     -->
    <a class="reset" href="javascript:RowChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
	<div class="clearfix"></div>
    <!--
        dc.js will also automatically inject applied current filter value into
        any html element with css class set to "filter"
    -->
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
	<br>
	</br>
</div>

<div id="piechart" class="dc-chart">
    <strong>Pie Chart</strong>
	<br>
	</br>
</div>

<div id="linechart" class="dc-chart">
    <strong>Line Chart</strong>
    <a class="reset" href="javascript:LineChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
	<div class="clearfix"></div>
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
	<br>
	</br>
</div>

<div id="bubblechart" class="dc-chart">
    <strong>Bubble Chart</strong>
    <a class="reset" href="javascript:BubbleChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
	<div class="clearfix"></div>
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
	<br>
	</br>
</div>

<!-- anchor div for data table -->
<table class="table table-hover dc-data-table" id="data-table">
    <thead>
        <tr class='header'>
            <th>Name</th>
            <th>Type</th>
            <th>Legs</th>
            <th>HP</th>
         </tr>
    </thead>
</table>



<script type="text/javascript">

		// Create Global Variables
		var dataset;
		var RowChart = dc.rowChart("#rowchart");
		var PieChart = dc.pieChart("#piechart");
		var LineChart = dc.lineChart("#linechart");
		var BubbleChart = dc.bubbleChart("#bubblechart");
		var DataTable = dc.dataTable("#data-table");

		// Load csv file
		d3.csv("{{ static_url('data/data.csv') }}", function(data) {
		
			dataset = data;

			// Call function
			Graph(dataset);
			
		});
		

// Create function
function Graph(data) {
		
   
    // Feed it through crossfilter   
	var ndx = crossfilter(data);
	console.log(data);
	
	//group it
	var all = ndx.groupAll();
	
	//define dimensions
	dim = ndx.dimension(function(d) {return d.type});
	dimHP = ndx.dimension(function(d) {return d.hp});

	//define groups
	g = dim.group().reduceSum(function(d){return d.legs;});
	gHP = dimHP.group().reduceSum(function(d){return d.legs;});
	gHP2 = dimHP.group().reduce( 
		//add
		function(p,v) {
			 ++p.count;
			 p.sumIndex +=v.legs;
			 p.avgIndex=p.sumIndex/p.count;
			  return p;
			},
		//remove
		function(p,v) {
			--p.count; 
			 p.sumIndex -=v.legs;
			 p.avgIndex=p.sumIndex/p.count;
			return p;
			},
		//init
		function() {
			return {count:0, sumIndex:0, 
				avgIndex:0 };
		}

			);

	//Lets create a row chart
	RowChart.dimension(dim)
	    	.group(g)
		    .width(500)
			// This allows us to update the pie chart
		    .renderlet(function(chart){PieChart.filter(chart.filter());});
			
	//Lets create a pie chart
	PieChart.dimension(dim)
			.radius(90)
			.innerRadius(45)
			.dimension(dim)
			.group(g)
			.title(function(d){ return d.data.key +": "+d.value;})
			.renderTitle(true);	

	//Lets create a line chart
	LineChart.dimension(dimHP)
			 .group(gHP)
			 .width(800)
			 .height(200)
			 .x(d3.scale.linear().domain([0,17]).range([0,17]))
			 .renderHorizontalGridLines(true);
			 
	//Lets create a bubble chart
	BubbleChart.dimension(dimHP)
			   .width(500)
			   .height(200)
			   .dimension(dimHP)
			   .group(gHP2)
			   .valueAccessor(function(p) {return p.value.sumIndex;})
			   .radiusValueAccessor(function(p) {return p.value.sumIndex;})
			   .x(d3.scale.linear().domain([0,15]).range([0,15]))
			   .y(d3.scale.linear().domain([0,15]).range([0,15]))	
			   .r(d3.scale.linear().domain([0, 4000]))
			   .renderHorizontalGridLines(true)
			   .renderVerticalGridLines(true);
			   
/* Create a data table widget and use the given css selector as anchor. You can also specify
 * an optional chart group for this chart to be scoped within. When a chart belongs
 * to a specific group then any interaction with such chart will only trigger redraw
 * on other charts within the same chart group. */
DataTable.dimension(dim)
		// data table does not use crossfilter group but rather a closure
		// as a grouping function
	    .group(function(d) {
			return 'This is a nice table';
		})
		// (optional) max number of records to be shown, :default = 25
		.size(10)
		// dynamic columns creation using an array of closures
		.columns([
			function(d) { return d.name; },
			function(d) { return d.type; },
			function(d) { return d.legs; },
			function(d) { return d.hp; }
		])
		// (optional) sort using the given field, :default = function(d){return d;}
		.sortBy(function(d){ return d.hp; })
		// (optional) sort order, :default ascending
		.order(d3.ascending);

			
	dc.renderAll();

}; // end graph function			
	
		
    </script>
	
{% end block %}

	

