<!DOCTYPE html>
<head>
    <title>{{ escape(main_title) }}</title>
    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
	<script type="text/javascript" src="{{ static_url('js/d3.v3.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/crossfilter.js') }}"></script>   
    <script type="text/javascript" src="{{ static_url('js/dc.js') }}"></script>   
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/dc.css') }}"/>
  <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
      <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</head>

<style type="text/css">
<!-- Style code goes here -->
</style>

<body>

    <div>
		<h2>{{ escape(page_title) }}</h2>
		<br>
	</div>

    <div>
    {% block content %}
    {% end block %}
    </div>

</body>
</html>